@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    This is a XMPP Web application example using the <a href="http://www.ag-software.de/matrix-xmpp-sdk/">MatriX XMPP library</a> and <a href="https://github.com/SignalR">SignalrR</a> as 
    bidirectional channel.
</p>
